@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --main-color: #68bbff;
  --hover-main-color: #51a8ff;
  --frist-color: #3995ff;
  --thrid-color: #449eff;
  --secound-color: #5db2ff;
  --color-black: #222222;
  --color-white: #ffffff;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  color: var(--text-black);
  background-color: var(--text-white);
}
ul {
  list-style: none;
  padding: 0;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--hover-main-color);
}
::-webkit-scrollbar-track {
  background-color: lightgray;
}
a {
  text-decoration: none;
  color: black;
}
*:focus {
  outline: none;
}
.containerD {
  margin: 0 auto;
  width: 86%;
}
.myD {
  margin: 60px 0;
}
@media (max-width: 1024px) {
  .containerD {
    width: 90%;
  }
}
